body {
    color: green; /*this property will be inherite by the child element*/
    font-family: Verdana, Arial, Geneva, Arial Black;
    font-weight: normal;
    /*background-color:lime;*/
    /*background-color: rgb(240, 38, 235);*/
    background-color: #ffcf79;
    font-size: 25px;
    border-color: aquamarine;
    border-width: 4px;
    border-style: solid;
}
h1 {
    font-size: 150%;
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-size: 1.2em;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

#para1homepage {/*'.' means the 'blue' is a class. it can be used on any element. */
    color: blue;
}

p.paragraph {
    color: purple;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5em;
    background-color:#e5e4c7;
    padding: 20px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    background-image: url(Images/blue-clouds.jpeg);
    border-bottom: red 5px solid;
}

#para4homepage {
    color: black;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5em;
    background-color:#e5e4c7;
    padding: 20px;
    border-color: black;
    border-width: 3px;
    border-style: dashed;
    margin: 20px;
    margin-top: 50px;
    margin-left: 400px;
    padding-left: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imagec {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    padding: 5px;
    background-color: silver;
}

img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    padding: 5px;
    background-color: silver;
}

#divmain {
    color: black;

}

#divbass {
    color: black;

}

.divcontent {
    color: black;

}

.highlight {
    background-color: #FFFF00;
}

a:link {
    color: blue;
}

a:visited {
    color: #8c8c9d;
}

a:hover {
    color: #f15a51;
}