body {
    color: green; /*this property will be inherite by the child element*/
    font-family: Verdana, Arial, Geneva, Arial Black;
    font-weight: normal;
}
h1, h2 {
   /*text-decoration: underline;*/
   /*text-decoration: line-through;*/
   /*text-decoration: overline;*/
   text-decoration: underline line-through overline;
}

h1 {
    color: pink; /*this will overwrite the body's color.*/
}

p.para1 {/*'.' means the 'blue' is a class. it can be used on any element. */
    color: blue;
    font-size: 25px;
}

p.para2 {
    color: purple;
    font-size: 25px;
}

p.para3 {
    color: purple;
    font-size: 25px;
    /*font-style: italic;*/
    font-style: oblique;
}