.button {
    background-color: #e7e7e7;
    border: 1px solid;
    border-radius: 3px;
    font: 700 13px Helvetica, Arial, Georgia;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    margin-right: 10px;
    text-align: center;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    text-decoration: none;
    display: inline;
}

a {
    color: #666;
    text-decoration: none;
    float: left;
}

a:hover {
    color: black;
    background-color: #dadada;
}