     
h1 {
    background-color: green;
    color: yellow;
}

h2 {
    background-color: green;
    color: yellow;
}

div.div1 {
    background-color: red;
    color: white;
    width: 45%;
    float: left;
}

div.div2 {
    background-color: black;
    color: white;
    width: 45%;
    float: right; 
}

p {
    border: green 2px solid;
}