body {
    color: green; /*this property will be inherite by the child element*/
    font-family: Verdana, Arial, Geneva, Arial Black;
    font-weight: normal;
    /*background-color:lime;*/
    /*background-color: rgb(240, 38, 235);*/
    background-color: #ffcf79;
    font-size: 25px;
    border: aquamarine 4px solid;
    margin: 0;
}

h1 {
    font-size: 150%;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    font-size: 1.2em;
}

p.para1 {/*'.' means the 'blue' is a class. it can be used on any element. */
    color: blue;
}

p.para2 {
    color: purple;
}

p.para3 {
    color: purple;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5em;
    background-color:#e5e4c7;
    padding: 20px;
    border: black 3px solid;
    margin: 0;
}

p.para4 {
    color: black;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5em;
    background-color:#e5e4c7;
    padding: 20px;
    border: black 3px solid;
    margin: 0px;

}

.imagec {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    padding: 5px;
    background-color: silver;
}